.account-list__image {
  position: relative;
  display: inline-block;

  img, svg {
    height: 54px;
    width: 54px;
    border: 3px solid transparent;
  }

  &--active {
    img {
      border-color: #0ce3ac;
    }
  }
}

.account-list__image--add-account {
  color: #0ce3ac;
  fill: #0ce3ac;
}

.account-list__badge {
  position: absolute;
  top: 36px;
  right: -4px;
}
