<div class="row">
  <div class="col-2">
    <%= render partial: "components/account-list" %>
  </div>

  <div class="col-10">
    <h3 class="mt-4">The anonymous Twitter client</h3>

    <ul class="list-unstyled">
      <li>
        <%= link_to '[Starred tweets]', starred_tweets_path %>
      </li>
      <li>
        <%= link_to '[Add new account]', new_account_path %>
      </li>
    </ul>
  </div>
</div>
