<div class="row">
  <div class="col-2">
    <%= render partial: "components/account-list" %>
  </div>

  <div class="col-10">
    <h3 class="mt-2">
      <%= link_to @account.name, @account.url %>
    </h3>
    <% @tweets.each do |tweet| %>
      <%= render partial: "components/tweet", locals:{tweet: tweet} %>
    <% end %>

    <div class="row">
      <div class="col-12 text-center">
        <%= paginate @tweets %>
      </div>
    </div>

    <% unless @tweets.present? %>
      <p>
        No Tweets.
      </p>
    <% end %>
  </div>
</div>
